git+https://github.com/espnet/espnet.git
librosa
numpy
scipy
samplerate
soundfile
soxr
torch
transformers
tqdm
webrtcvad

# for calculating intrusive SE metrics
fastdtw
mir_eval
pesq
pysptk
pystoi


# for calculating the DNSMOS metric
onnx2torch
onnxruntime

# for calculating the phoneme similarity metric
levenshtein
phonemizer
